.chat-side {
  width:300px;
  color: #FFFFFF;
  float:left;
  a, a:visited {
    color : #FFFFFF;
  }
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items:center;
    padding:0 20px;
    .side-header__box{
      color: #FFFFFF;
      display:flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__user-name{
        display: flex;
      }
      &__menu {
        display: flex;
        color: #FFFFFF;
      }
      .side-header__box__menu__edit-user{
        margin-left: 0.3rem;
      }
    }
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    a, a:visited {
      color : #FFFFFF;
      text-decoration:none;
    }
    
    .group {
      box-sizing: border-box;
      margin-bottom: 40px;
      &__group-name {
        margin-bottom: 5px;
        font-size: 15px;
      }
      &__latest-message {
        font-size: 11px;
      }
      &__name {
        margin-bottom: 5px;
        font-size: 15px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}

